# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=a3102c0f-55d1-448e-80e9-2272fafa80cd

    # Set to true to disable all reporting
    B:opt-out=false
}


